// @use "../../../bootstrap-5.2.3/scss/functions";
// @use "../../../bootstrap-5.2.3/scss/variables" as *;
// @use "../../../bootstrap-5.2.3/scss/bootstrap.scss";
$size:16px;
$style:normal;
$weight:400;
$myfont: Be vietnam pro,sans-serif;

