h2 {
    color: #1a2d7d;
    font-weight: 700;
}

p {
    font-size: 14px;
    color: #888;
    margin-bottom: 25px;

}

.option {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 15px;
    cursor: pointer;

}

.option input[type="radio"] {
    margin-right: 10px;
    accent-color: #1a2d7d;
}

.option:hover {
    background-color: #f0f4ff;
}



.back {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #1a2d7d;
    text-decoration: none;
}

.back:hover {
    text-decoration: underline;
}

.text-area {
    display: flex;
     font-family: "Be Vietnam Pro",sans-serif;
}
.link{
     font-family: "Be Vietnam Pro",sans-serif;
}
                