
* {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {

  background-color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
}

.box-section {
  display: flex;
  overflow: hidden;
}

.video-section {
  flex: 1;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.form-section {
  flex: 1;
  padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 860px;
}

.form-logo {
  width: 59px;
}

.form-container h2 {
  margin-bottom: 0.5rem;
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}



.form-container .highlight {
  color: #1F3A8A;

}

.form-container p {
  margin-bottom: 1.5rem;
  color: #666;
}

.requried {
  color: red;
  font-weight: bold;
}

.label,
.topmessage {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 14px;
}

.flag-area {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-right: 8px;
}

.flag-area img {
  width: 36px;
  margin-right: 6px;
}

.flag-area::after {
  font-size: 12px;
  margin-left: 6px;
}

.input-area {
  background-color: white;
  border: 1px solid #cfd4dc;
  border-radius: 12px;
  padding: 16px 12px 16px 12px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400
}

.fixed-code {
  color: #1e1e2f;
  font-size: 16px;
  font-weight: 500;
  margin-right: 6px;
  white-space: nowrap;
}

.input-area input {
  border: none;
  font-size: 16px;
  color: #333;
  font-style: normal;
  font-weight: 400;
  outline: none;
}

.input-area input::placeholder {
  color: #a8a8b3;
}

.input-area:focus-within {
  border: 1px solid #212529;
}

.password {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  gap: 8px;
}

input[type="password"]:focus {
  border: 1px solid #212529;
  outline: none;
}
.dropdown:focus{
  border: none;
  outline: none;
}

.highlight {
  padding-right: 10px;
}


.button {
  width: 100%;
  background-color: #1F3A8A;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.35s;
}

.button:hover {
  background-color: #0035e0;
}

.register {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;

}

.register a {
  color: #1F3A8A;
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Large desktops and bigger screens */
@media (min-width: 1200px) {
  .box-section {
    height: 100vh;
  }

  .video-section {
    width: 687px;
    padding: 30px;
  }

  .form-section {
    padding-right: 55px;
  }

  .form-container h2 {
    font-size: 40px;
  }
}

/* Tablets and medium screens */
@media (max-width: 1199px) and (min-width: 768px) {
  .box-section {
    flex-direction: row;
    height: auto;
  }

  .video-section {
    width: 50%;
    padding: 20px;
  }

  .form-section {
    width: 50%;
    padding: 20px 30px;
  }

  .form-container h2 {
    font-size: 32px;
  }

  .button {
    padding: 0.7rem;
    font-size: 0.9rem;
  }
}

/* Mobile devices */
@media (max-width: 767px) {
  .box-section {
    flex-direction: row;
    height: auto;
  }

  .video-section {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .form-section {
    width: 100%;
    padding: 15px 20px;
  }

  .form-container h2 {
    font-size: 28px;
  }

  .button {
    width: 100%;
    padding: 0.6rem;
    font-size: 0.85rem;
  }

  input[type="password"],
  input[type="tel"],
  .dropdown {
    width: 94%;
  }

}