/* Large desktops and bigger screens */
@media (min-width: 1200px) {
  .box-section {
    height: 100vh;
  }

  .video-section {
    width: 687px;
    padding: 30px;
  }

  .form-section {
    padding-right: 55px;
  }

  .form-container h2 {
    font-size: 40px;
  }
}
/*larger sceeen*/
@media (min-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
/* Tablets and medium screens */
@media (max-width: 1199px) and (min-width: 768px) {
  .container-fluid {
    width: 100%;
  }
  .box-section {
    flex-direction: row;
    height: 100%;
  }

  .video-section {
    padding: 20px;
    width: 70%;
    height: 100vh;
  }

  .form-section {
    padding: 20px 30px;
  }

  .form-container h2 {
    font-size: 32px;
  }
  .button {
    width: 100%;
    padding: 0.6rem;
    font-size: 0.85rem;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .container-fluid {
    padding: 0%;
    .box-section {
      height: 80vh;
    }
    .video-section {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vh;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
      opacity: 0.9;
    }
  }

  .label {
    color: white;
  }
  .highlight {
    color: #092474 !important;
  }
  .statusText {
    color: #ccc;
  }
  .required {
    color: red;
  }
  .register {
    color: rgb(255, 255, 255);
  }
  .form-section {
    padding: 20px 30px;
    .form-container {
      padding-top: 15px;
      margin: 5px;
      height: 100%;
      background-color: #cccccc30;
      margin-left: 10px;
      h2 {
        font-size: 28px;
      }
      .logo-container {
        align-items: center;
        justify-content: center;
        display: flex;
      }
    }
  }

  .form-container .button {
    width: 100%;
    padding: 0.6rem;
    font-size: 0.85rem;
  }
  // .input-area {
  //   background-color: aliceblue !important;
  // }
  // .phone-input {
  //   background-color: aliceblue !important;
  // }
  // .password {
  //   background-color: aliceblue !important;
  // }
  input[type="password"],
  input[type="tel"],
  .dropdown {
    width: 100%;
  }
  .title {
    color: #ccc;
  }
  .title {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .topmessage {
    color: #ccc;
  }
  .linkbutton {
    color: #1a259c !important;
    font-weight: bolder;
  }
  .forget-link {
    color: #1a259c !important;
    font-weight: bolder;
  }
  .dropdown {
    background-color: aliceblue !important;
  }
}
