input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.form-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 1.2rem;
}

.form-extras a {
  text-decoration: none;
  color: #0046ff;
}

button {
  width: 100%;
  background-color: #0046ff;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #0035e0;
}



input[type="password"]:focus {
  border: 1px solid #000;
  outline: none;

}

input[type="tel"]:focus {
  border: 1px solid #000;
  outline: none;
}